.down-arrow-link {
  position: absolute;
  bottom: 40px;
  left: 48%;
  background: #fff;
  color: #000;
  font-size: 25px;
  padding: 10px 15px !important;
}

.down-arrow-link:hover {
    background-color: transparent;
    color: #fff;
}